@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  
    font-family: 'Poppins', sans-serif;
    
}





.dashboard{
  display: flex;
  gap: 20px;
}

.dashboard--content{
  background: #fff;
  flex: 1;
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
}

.background {
  height: 123vh;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.white-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  padding: 20px;
  text-align: center;
  max-width: 1000px;
  margin-bottom: 500px;
  margin-left: -950px;
}
.content h1{
  color:#fff;
  font-weight: 1000;
  font-size: 80px;
}
.content p{
  font-size: 30px;
}
.RU-Bg-color{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
}

.land_btn{
  /* margin-top: 0px; */
  margin-left: -140px;
  width: 250px;
  height: 30px;
  height: 20px;
  width: 70px;
  
}
#button-land{
  height: 70px;
  width: 220px;
  font-size: 28px;
  color: silver;
  background: #14274e;
  border-radius: 20px;
  margin-left: 500px;
  margin-top: 60px;
  cursor: pointer;
  /* animation: animate 2s ease 2s infinite normal forwards; */

  
 }
 #button-land:hover{
  animation: none;
  width: 190px;
 }
 .button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}
@media (max-width: 768px) {
  .background{
    width: 762px;
    height: 500px;
  }
  .para-land{
    font-size: 25px;
    margin-left: 20px;
  }
}



