/* General navbar styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  color: #14274e;
  height: 90px;
  box-shadow: 2px 2px 7px #14274e;
}

.logo-nav {
  height: 180px;
  width: auto;
  margin-top: 10px;
  margin-left: 70px;
}

.align {
  display: flex;
  align-items: center;
}

.home-nav-home,
.nav-about,
.nav-contact {
  margin-left: 35px;
  color: #14274e;
  text-decoration: none;
}
.btn-{
  margin-left: 20px;
}

.btn- .btn-nav {
  padding: 5px 10px;
  margin: 0 5px;
  background-color: #14274e;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  border-radius: 10px;
  width: 100px;
  height: 40px;
}

.btn-nav:hover {
  background: #1006a1;
  color: rgb(250, 243, 243);
}

.navbar a {
  font-size: 22px;
  color: #14274e;
  text-decoration: none;
  font-weight: 500;
  transition: .3s;
  font-family: "Noto Sans JP", sans-serif;
}

.navbar a:hover,
.navbar a.active {
  color: #090b8d;
  font-size: 20px;
}

.btn-menu {
  display: none;
  background: none;
  border: none;
  color: #14274e;
  font-size: 2rem;
  cursor: pointer;
}

.mobile-menu {
  display: none;
}

.mobile-nav-item {
  display: block;
  padding: 10px 20px;
  color: #14274e;
  text-decoration: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .align {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 90px;
    left: 0;
    z-index: 1;
    box-shadow: 2px 2px 7px #14274e;
  }

  .align.mobile-menu {
    display: flex;
  }

  .btn-menu {
    display: block;
    margin-right: 20px;
  }

  .home-nav-home,
  .nav-about,
  .nav-contact,
  .btn- {
    margin: 20px 0;
    font-size: 18px;
    text-align: center;
  }

  .logo-nav {
    margin-left: 20px;
  }
}
